
.vs/
FougereCMD/bin/Debug/FougereCMD.zip
FougereCMD/bin/Release/FougereCMD.zip
FougereCMD/obj/
FougereGUI/bin/Debug/FougereGUI.zip
FougereGUI/bin/Release/FougereGUI.zip
FougereGUI/obj/
*.mtm2
*.cmr2
*.mtn2
*.imm2
*.json
*.decomp
*.bin
*.xc
*.pck